<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento</title>
</head>
<body>
    <h1>Pagamento Confirmado!</h1>
    <p>Obrigado por confirmar a experiência: <strong>{{ experiencia['Título'] }}</strong>.</p>
    <p>O valor de <strong>R$ {{ experiencia['Preço'] }}</strong> foi pago com sucesso.</p>

    <a href="{{ url_for('index') }}">Voltar para a Página Inicial</a>
</body>
</html>
